{% extends "base.html" %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        {% for field in [form.title, form.author, form.description, form.image, form.file] %}
            <p>
                {{ field.label }}<br>
                {{ field }}<br>
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
        {% endfor %}
        <p>{{ form.submit() }}</p>
        {% for error in form.submit.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </form>
{% endblock %}