{% extends "base.html" %}

{% block content %}
    <br>
    <h1 style="color: #000000" align="center">{{ book.author }} - {{ book.title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="alert alert-dark" role="alert"
                     style="height:100%; word-wrap: normal; overflow: auto">
                    {{ book.description }}
                </div>
            </div>
            <div class="col">
                {% if book.image %}
                    <img class="book-img rounded" width="200" height="300" src="\{{ book.image }}"
                         alt="{{ book.title }}">
                {% else %}
                    <img class="book-img rounded" width="200" height="300" src="/static/placeholder_book.jpg"
                         alt="{{ book.title }}">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-9" align="center">
                {% if book.file %}
                    <form action="" method="post" novalidate>
                        <br>
                        <button type="submit" class="btn btn-primary" name="download">
                            {% if 'user_id' in session %}
                            Скачать
                            {% else %}
                            Войдите, чтобы скачать файл
                            {% endif %}
                        </button>
                    </form>
                {% endif %}
            </div>
            <div class="col">
                <form action="" method="post" novalidate>
                    <br>
                    <button type="submit" class="btn btn-danger" name="like">
                        {% if is_liked %}
                            &#9829
                        {% else %}
                            &#9825
                        {% endif %}
                     Мне нравится
                    </button>
                </form>
            </div>
        </div>
        <div style="margin-top: 20px">
            <h4>Загрузил <a href="/users/{{book.uploader_id}}">{{ book.uploader.username }}</a></h4>
        </div>
    </div>

{% endblock %}

<form action="" method="post" novalidate>
    {{ info_form.hidden_tag() }}
    {{ info_form.info_field.label }}
    {{ info_form.info_field }}
    {{ info_form.info_submit() }}
</form>