{% extends "base.html" %}
 
{% block content %}
    <!--{% if 'username' in session %}-->
        <!--<h2>Привет, {{session['username']}}</h2>-->
    <!--{% endif %}-->
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.order.label }}<br>
            {{ form.order }}<br>
            {% for error in form.order.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>

    </form>
    {% for book in books %}
        {% if loop.index0 % columns == 0 %}
        <div class="row">
        {% endif %}
            <a href="books/{{book.id}}" style="text-decoration: none; margin:20px"><div class=".col-md-4" align="center">
                <img class="book-img rounded" width="200" height="300" src="\{{ book.image }}" alt="{{ book.title }}">
            <br>
                <h4 style="color: #000000">{{ book.title }}<br>{{ book.author }}</h4>
                <h5 style="color: #000000">{{ book.likes }} &#9829;</h5>
            </div></a>
        {% if loop.index0 % columns == columns - 1 %}
        </div><!-- /row -->
        {% endif %}
    {% endfor %}
{% endblock %}