{% extends "base.html" %}
 
{% block content %}
    <!--{% if 'username' in session %}-->
        <!--<h2>Привет, {{session['username']}}</h2>-->
    <!--{% endif %}-->
    {% for book in books %}
        {% if loop.index0 % columns == 0 %}
        <div class="row">
        {% endif %}
            <a href="{{href}}" style="text-decoration: none; margin:20px"><div class=".col-md-4" align="center">
                <img class="book-img rounded" width="200" height="300" src="{{ book.image }}" alt="{{ book.title }}">
            <br>
                <h4 style="color: #000000">{{ book.title }}</h4>
            </div></a>
        {% if loop.index0 % columns == columns - 1 %}
        </div><!-- /row -->
        {% endif %}
    {% endfor %}
{% endblock %}