{% extends "base.html" %}

{% block content %}
    <h4>Информация о пользователе</h4>
    {% autoescape false %}
        {{ info }}
    {% endautoescape %}
        <hr>
    {% if books %}
        <h4 align="center">Загруженные книги</h4>
        {% for book in books %}
            {% if loop.index0 % columns == 0 %}
                <div class="row">
            {% endif %}
                    <a href="/books/{{book.id}}" style="text-decoration: none; margin:20px"><div class=".col-md-4" align="center">
                        <img class="book-img rounded" width="200" height="300" src="\{{ book.image }}" alt="{{ book.title }}">
                    <br>
                        <h4 style="color: #000000">{{ book.title }}<br>{{ book.author }}</h4>
                        <h5 style="color: #000000">{{ book.likes }} &#9829;</h5>
                    </div></a>
                {% if loop.index0 % columns == columns - 1 %}
                    </div><!-- /row -->
                {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}